﻿<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" formControlName="nom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nom.errors }" />
        <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
            <div *ngIf="f.nom.errors.required">Nom nécessaire</div>
        </div>
    </div>
    <div class="form-group">
        <label for="prenom">Prenom</label>
        <input type="text" formControlName="prenom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.prenom.errors }" />
        <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
            <div *ngIf="f.prenom.errors.required">Prenom nécessaire</div>
        </div>
    </div>
    <div class="form-group">
        <label for="tel">Telephone</label>
        <input type="text" formControlName="tel" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tel.errors }" />
        <div *ngIf="submitted && f.tel.errors" class="invalid-feedback">
            <div *ngIf="f.tel.errors.required">tel is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="addresse">Addresse</label>
        <input type="text" formControlName="addresse" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.addresse.errors }" />
        <div *ngIf="submitted && f.addresse.errors" class="invalid-feedback">
            <div *ngIf="f.addresse.errors.required">addresse is required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">email is required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="civilite">Civilite</label>
        <input type="text" formControlName="civilite" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.civilite.errors }" />
        <div *ngIf="submitted && f.civilite.errors" class="invalid-feedback">
            <div *ngIf="f.civilite.errors.required">civilite is required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="login">Login</label>
        <input type="text" formControlName="login" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.login.errors }" />
        <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
            <div *ngIf="f.login.errors.required">login is required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>

    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
</form>
