<h2>product</h2>

<table border="1">
    <tr *ngFor="let item of cat ">
      <td>{{ item.nom }}</td>
      <td>{{ item.description }}</td>
      <td>{{ item.stock }}</td>
      <td>{{ item.prix }} <button (click)="onClickDetail (item.description)">Detail</button> </td>
    </tr> 
</table>

<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />