﻿<h1>Hi {{currentUser.nom}}!</h1>
<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.nom}} ({{user.prenom}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul>